<div 
    class="modal fade" 
    id="modalAbout"
    tabindex="-1"
    aria-labelledby="modalAboutLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAboutLabel">About Us</h5>
                <button 
                    type="button" 
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidded="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h5 class="display-4 font-weight-bold">Time to be Unique</h5>
                <p>A watch says a lot about you and it should help you stand out (no Apple watches here). We only carry watch brands that make a statement.</p>
                <h5>How are you unique?</h5>
            </div>
        </div>
    </div>
</div>