{% for customer in customer_list %}
    <div 
        class="modal fade" 
        id="modalEdit{{customer.id}}"
        tabindex="-1"
        aria-labelledby="modalEditLabel{{customer.id}}"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditLabel{{customer.id}}">Customer Edit</h5>
                    <button 
                        type="button" 
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                    >
                        <span aria-hidded="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="object_id" value="{{customer.id}}">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-outline mb-4">
                                    <input type="text" name="first_name" id="fnameInput" class="form-control" value="{{customer.first_name}}">
                                    <label for="fnameInput" class="form-label">First Name</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="text" name="last_name" id="lnameInput" class="form-control" value="{{customer.last_name}}">
                                    <label for="lnameInput" class="form-label">Last Name</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="email" name="email" id="emailInput" class="form-control" value="{{customer.email}}">
                                    <label for="emailInput" class="form-label">Email</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <select name="gender" id="" class="select" selected="{{customer.gender}}">
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                </select>
                                <label class="form-label select-label">Gender</label>
                                <div class="form-outline datepicker my-4" data-toggle-button="false">
                                    <input type="text" name="date_of_birth" id="birth" class="form-control" value="{{customer.date_of_birth | date:"SHORT_DATE_FORMAT"}}" data-toggle="datepicker">
                                    <label for="birth" class="form-label">Date of Birth</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="text" name="address" id="addressInput" class="form-control" value="{{customer.address}}">
                                    <label for="addressInput" class="form-label">Address</label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-block btn-dark mb-4">
                            Save
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endfor %}