{% for customer in customer_list %}
    <div 
        class="modal fade" 
        id="modalDel{{customer.id}}"
        tabindex="-1"
        aria-labelledby="modalDelLabel{{customer.id}}"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDelLabel{{customer.id}}">Customer Del</h5>
                    <button 
                        type="button" 
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                    >
                        <span aria-hidded="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <form action="" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-block btn-danger mb-4">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endfor %}