/* Navbar */
.navbar-scrolled {
    background-color: #262626;
}

.navbar.navbar-scroll.navbar-scrolled {
    padding-top: 5px;
    padding-bottom: 5px;
}

#btn-sign {
    width: 100px;
}
/* Navbar */

/* Intro */
#intro {
    background-image: url('/static/non_admin/img/bg.jpeg');
    height: 100vh;
}
/* Intro */
