{% load static %}
<header>
    <div
        class="sidenav bg-dark"
        id="sidenav-admin"
        role="navigation"
        data-mode="slide"
        data-hidden="false"
        data-color="light"
        data-accordion="true"
    >
        <div class="text-center px-2 py-4">
            <img
                src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg"
                class="rounded-circle mb-2"
                height="50"
                alt=""
                loading="lazy"
            />
            <h5>Eunice Tanada</h5>
        </div>
        <hr class="m-0" />
        <ul class="sidenav-menu">
            <li class="sidenav-item">
                <a class="sidenav-link">
                    <i class="far fa-users pr-3"></i>
                    <span>Users</span>
                </a>
                <ul class="sidenav-collapse">
                    <li class="sidenav-item">
                        <a href="/admin/customer/" class="sidenav-link">Dashboard</a>
                    </li>
                    <li class="sidenav-item">
                        <a href="/admin/customer/register/" class="sidenav-link">Register</a>
                    </li>
                </ul>
            </li>
            <li class="sidenav-item">
                <a class="sidenav-link">
                    <i class="far fa-watch pr-3"></i>
                    <span>Watch</span>
                </a>
                <ul class="sidenav-collapse">
                    <li class="sidenav-item">
                        <a href="/admin/watch/" class="sidenav-link">Dashboard</a>
                    </li>
                    <li class="sidenav-item">
                        <a href="/admin/watch/register/" class="sidenav-link">Register</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <button
                data-toggle="sidenav"
                data-target="#sidenav-admin" 
                class="btn shadow-0 p-0 mr-3 d-block d-xxl-none d-xl-none"
                aria-controls="#sidenav-admin"
                aria-haspopup="true">
                <i class="fas fa-bars fa-lg text-white"></i>
            </button>
            <a class="navbar-brand mr-auto" href="index.html">
                <img src="{% static 'img/logo.png' %}" style="height:50px"> Watch<span class="text-danger">men</span>
            </a>
        </div>
    </nav>
</header>